* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

h1.mainHeading {
    font-size: 3.5rem;
    color: indianred;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}